
    header{
                color: red;
                background-color: red;
                font-size: 14;
                text-align: center;
                height: 70px;
                width: 100%;
            }
