.footer{
    color: white (214, 14, 14);
    height: 60px;
    width: 100%;
    border: top;
    border: #CCCCCC;
    border-width: 1px;
    border-style: solid;
    text-align: center;
    position: fixed; 
    bottom: 0;
}