

.locations{
    width: 25%;
    border: solid #DDDDDD  1px;
    float: left;
    Height: 100%;

    
}
h3{ font-weight: 900;
    margin-bottom: 0;
   
    
}

h4{
    font-weight: 400;
    font-size: 14px;
    margin-top: 0;

    
    
}
.amentities{
    height: 100%;
    width: 25%;
  
    float: left;
   

    margin-top: ;
}

button{ cursor: pointer;
        

}
